<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet"
      href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<script type="text/javascript"
        src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
        src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

@model IEnumerable<AvDB_lab4.Models.ApplicationDetailsViewModel>

@{
    ViewBag.Title = "Application List";
}

<h2>ApplicationListView</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Application")
</p>
<table id="applicationListTable" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditCategory.DisplayText)
        </td>
        @if (item.IsCompleted)
        {
            <td>
                Yes
            </td>
        }
        else
        { 
            <td>
                No
            </td>
        }
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id })
        </td>
    </tr>
}
</table>

<script>
    $(document).ready(function () {
        $('#applicationListTable').dataTable();
    });
</script>