@using AvDB_lab4.Entities.Clients
@model AvDB_lab4.Models.CreditApplicationViewModel

@{
    ViewBag.Title = "Create";
}

<script>
    $(function () {
        $('#ClientGroupViewModel_SelectedClientGroup').change(function () {
            location.href = "/Application/Create?clientGroupId=" + $(this).val();
        });
    });
</script>


<h2>Create</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Application</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.ClientGroupViewModel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientGroupViewModel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ClientGroupViewModel, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.CreditCategoryViewModel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreditCategoryViewModel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreditCategoryViewModel, "", new { @class = "text-danger" })
            </div>
        </div>
        
        @Html.HiddenFor(x => x.ClientId)
        @if (Model.ClientGroupViewModel.SelectedClientGroup == ClientGroup.PrivatePerson)
        {
            <div class="form-group">
                @Html.Label("Person", htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    <input type="text" name="client" id="person_autocomplete" class="form-control" />
                </div>
            </div>

            <script>
            $(document).ready(function () {
                var persons = new Bloodhound({
                    datumTokenizer: function (d) {
                        return Bloodhound.tokenizers.whitespace(d.Id);
                    },
                    queryTokenizer: function (d) {
                        return Bloodhound.tokenizers.whitespace(d.FullName);
                    },
                    remote: '/Clients/LegalPersonAutocomplete?query=%QUERY'
                });

                persons.initialize();

                $("#person_autocomplete").typeahead(
                {
                    highlight: true,
                },
                {
                    name: 'persons',
                    displayKey: 'FullName',
                    source: persons.ttAdapter(),
                }).on('typeahead:selected', function (event, data) {
                    $('#ClientId').val(data.Id);
                });
            });
            </script>
        }
        else
        {
            <div class="form-group">
                @Html.Label("Company", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" name="client" id="company_autocomplete" class="form-control typeahead" />
                </div>
            </div>
            
            <script>
            $(document).ready(function () {
                var companies = new Bloodhound({
                    datumTokenizer: function (d) {
                        return Bloodhound.tokenizers.whitespace(d.Id);
                    },
                    queryTokenizer: function (d) {
                        return Bloodhound.tokenizers.whitespace(d.Name);
                    },
                    remote: '/Clients/JuridicalPersonAutocomplete?query=%QUERY'
                });

                companies.initialize();

                $("#company_autocomplete").typeahead(
                {
                    highlight: true,
                },
                {
                    name: 'companies',
                    displayKey: 'Name',
                    source: companies.ttAdapter(),
                }).on('typeahead:selected', function (event, data) {
                    $('#ClientId').val(data.Id);
                });
            });
            </script>
        }
        <div class="form-group">
            <div class="col-md-10">
                <input id="attachmentsInput" name="attachments" class="file" type="file" multiple="true">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "List", null, new {@class = "btn btn-info"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>
    $(document).ready(function() {
        $("#attachmentsInput").fileinput({
            initialCaption: "Attachments",
            showRemove: false,
            showUpload: false,
        });
    });
</script>

